---
import { Image } from 'astro:assets';
const { imgSrc, title, description, slug } = Astro.props;
---

<a
  href={slug ? `categorieën/${slug}` : '#'}
  class={slug ? 'cursor-pointer' : 'cursor-default pointer-events-none'}
>
  <div class='overflow-hidden'>
    <Image
      class='transition duration-300 ease-in-out h-[400px] hover:scale-110 w-full object-cover'
      src={imgSrc}
      alt={title}
      width={600}
      height={800}
    />
  </div>
  <h3 class='text-center md:text-left pt-2 text-inherit text-lg font-bold'>
    {title}
  </h3>
  <p class='text-center md:text-left'>
    {description}
  </p>
</a>
